svg {
  height: 40px;
  width: 35px;
  float: left;
  margin-right: 5px;
  fill: #d875ff;
  margin-left: 15px;
}

.Donate-btn button {
  margin-top: 20px;
  margin-left: 44%;
  width: auto;
  font-family: "Ubuntu", sans-serif;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: black;
  color: #f9fcf9;
  border: 2px solid #d875ff;
  font: 20px "Helvetica";
}

.Donate-btn button:hover {
  background-color: black;
  color: #d875ff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d875ff,
    0 0 0.8rem #d875ff, 0 0 2.8rem #d875ff, inset 0 0 1.3rem #d875ff;
}

footer {
  background-color: black;
  padding: 20px;
  border-top: 1px solid #d875ff;
}

h3 {
  color: #d875ff;
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 30px;
  font-size: 30px;
  margin-top: 20px;
  font-family: "Sedgwick Ave Display", cursive;
  animation: flicker 1.5s infinite alternate;
  color: white;
}

.inr {
  animation: flicker 1.5s infinite alternate;
  font-size: x-large;
  color: rgb(254, 165, 189);
}

footer p {
  color: #d875ff;
  padding: 10px 10px;
}

.svgimg {
  padding: 15px;
  margin-left: 20px;
}

.row {
  justify-content: space-around;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #d875ff, 0 0 11px #d875ff, 0 0 19px #d875ff,
      0 0 40px #cbc3e3, 0 0 80px #cbc3e3, 0 0 90px #cbc3e3, 0 0 100px #cbc3e3,
      0 0 150px #cbc3e3;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
