<app-navbar></app-navbar>
<div class="container">
  <div class="sub1">
    <h1>Results for {{ genre }}</h1>
  </div>
  <div class="sub2">
    <div class="inner-grid-item" *ngFor="let item of card">
      <img src="{{ item.animeImage }}" (click)="sendCard(item.animeId)" />
      <div class="overlay">
        <h1>{{ item.animeTitle }}</h1>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
