* {
  padding: 0%;
  margin: 0%;
}

.container {
  background-color: black;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.sub1 {
  height: 150px;
  width: auto;
  color: black;
  background-color: #d875ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub2 {
  display: flex;
  background-color: black;
  color: #d875ff;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.inner-grid-item img {
  max-width: 150px;
  height: 230px;
  border-radius: 15px;
}

.inner-grid-item img:hover {
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d875ff,
    0 0 0.8rem #d875ff, 0 0 2.8rem #d875ff, inset 0 0 1.3rem #d875ff;
}

.inner-grid-item {
  background-color: #ddd;
  text-align: center;
  padding: 10px;
  background-color: black;
}

.overlay h1 {
  color: #d875ff;
  margin: 10px;
  overflow: hidden;
  font-size: 20px;
}

.overlay {
  overflow: hidden;
  height: 30px;
  width: 170px;
}
