<div class="latest_Shows">
  <h1 class="latest">Latest Shows</h1>
  <div class="container" #container>
    <h1
      class="left"
      *ngIf="totalPages > 1"
      (click)="currentPage != 1 && changePage(-1)"
      [ngClass]="{ disabled: currentPage === 1 }"
    >
      <
    </h1>

    <div class="cards" [ngClass]="{ 'w-100': totalPages === 1 }">
      <div
        class="overflow"
        [ngStyle]="{ width: overflowWidth, left: pagePosition }"
      >
        <div
          class="card"
          *ngFor="let item of contents; let index = index"
          [ngStyle]="{ width: cardWidth }"
        >
          <img
            [src]="item.animeImage"
            alt="{{ item.title }}"
            style="height: 240px; width: 180px; border-radius: 8px"
            (click)="sendCard(item.animeId)"
          />
        </div>
      </div>
    </div>
    <h1
      class="right"
      *ngIf="totalPages > 1"
      (click)="currentPage != totalPages && changePage(+1)"
      [ngClass]="{ disabled: currentPage === totalPages }"
    >
      >
    </h1>
  </div>
</div>
