* {
  margin: 0%;
  padding: 0%;
}

.w-100 {
  width: 100% !important;
}

.container {
  width: 100%;
  padding: 10px 10px;
  display: flex;
  position: relative;
  justify-content: center;
  border-top: 2px solid #d875ff;
  border-bottom: 2px solid #d875ff;
  margin: 20px 0px;
  border-radius: 50px;
}

.cards {
  width: calc(100% - 120px);
  overflow: hidden;
}

.image:hover {
  transition-duration: 2s;
}

.overflow {
  position: relative;
  transition: left 0.5s ease-in-out;
}

.card {
  height: 260px;
  /* background-color: #e0e1e2; */
  display: inline-block;
  margin-right: 10px;
  position: relative;
  border-radius: 10px;
  padding: 10px 10px;
}

.card img {
  padding: 0px 10px;
}

.card img:hover {
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d875ff,
    0 0 0.8rem #d875ff, 0 0 2.8rem #d875ff, inset 0 0 1.3rem #d875ff;
}

.no-right-margin {
  margin-right: 0px;
}

.card span {
  font-size: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left,
.right {
  height: 30px;
  width: 30px;
  /* background-color: #0072bc; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #d875ff;
}

.latest {
  width: 150px;
  padding: 2px;
  border-radius: 10px;
  border-bottom: 2px solid #d875ff;
  text-align: center;
}

.latest_Shows {
  background-color: black;
  padding: 15px 15px;
}
