<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Player</title>
  </head>
  <body>
    <video autoplay="" controls="" loop="" width="100%">
      <source src="{{ epLink }}" type="video/mp4" />
    </video>
  </body>
</html>
