<head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
    crossorigin="anonymous"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=DynaPuff&family=Permanent+Marker&family=Rubik+Dirt&family=Sedgwick+Ave+Display&family=Unbounded:wght@300&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Ubuntu:wght@500&display=swap"
    rel="stylesheet"
  />
</head>
<nav>
  <div class="navb">
    <div class="logo">
      <img
        src="/assets/images/AnimeSprint_adobe_express.svg"
        alt=""
        (click)="homepage()"
      />
      <div class="join">
        <span> AniSoul</span>
      </div>
    </div>

    <div class="search">
      <input type="text" id="searchInput" [(ngModel)]="searchQuery" />
      <button (click)="search()">Search</button>
      <img src="assets/images/pfp3.png" alt="" (click)="profilenav()" />
    </div>
  </div>
</nav>
