* {
  margin: 0%;
  padding: 0%;
}

.navb {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: aqua;
  width: 100%;
  padding: 10px;
  padding-bottom: 20px;
}

.logo {
  display: flex;
  flex-direction: row;
}

.logo img {
  height: 80px;
  width: 80px;
  border-radius: 60px;
  margin-left: 5px;
  border-bottom: 5px solid white;
  border-top: 5px solid white;
  background-color: #d875ff;
}

.logo img:hover {
  background-color: white;
  color: #d875ff;
  border-bottom: 5px solid #d875ff;
  border-top: 5px solid #d875ff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d875ff,
    0 0 0.8rem #d875ff, 0 0 2.8rem #d875ff, inset 0 0 1.3rem #d875ff;
}

.join {
  font-size: 30px;
  margin-top: 20px;
  font-family: "Sedgwick Ave Display", cursive;
  animation: flicker 1.5s infinite alternate;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.search {
  margin-top: 7px;
  margin-left: auto;
}

.search input {
  padding: 7px 7px;
  border-radius: 15px;
  border: 2px solid #d875ff;
  color: #d875ff;
  background: transparent;
  text-shadow: 0 0 7px #d875ff, 0 0 10px #d875ff, 0 0 21px #d875ff,
    0 0 42px #cbc3e3, 0 0 82px #cbc3e3, 0 0 92px #cbc3e3, 0 0 102px #cbc3e3,
    0 0 151px #cbc3e3;
}

.search button {
  font-family: "Ubuntu", sans-serif;
  padding: 10px 10px;
  margin: 10px 10px;
  border-radius: 15px;
  background-color: black;
  color: #d875ff;
  border: 2px solid #d875ff;
}

.search button:hover {
  background-color: black;
  color: #d875ff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d875ff,
    0 0 0.8rem #d875ff, 0 0 2.8rem #d875ff, inset 0 0 1.3rem #d875ff;
}

.search img {
  height: 50px;
  width: 50px;
  margin: 0px 15px;
  border-radius: 35px;
  background-color: #d875ff;
}

.search img:hover {
  background-color: white;
  color: #d875ff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d875ff,
    0 0 0.8rem #d875ff, 0 0 2.8rem #d875ff, inset 0 0 1.3rem #d875ff;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #d875ff, 0 0 11px #d875ff, 0 0 19px #d875ff,
      0 0 40px #cbc3e3, 0 0 80px #cbc3e3, 0 0 90px #cbc3e3, 0 0 100px #cbc3e3,
      0 0 150px #cbc3e3;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
  
}
