<div class="main-c">
  <div class="container">
    <h1 class="form-title">Reset Password</h1>

    <form #mobForm="ngForm" (ngSubmit)="mob(mobForm.value)" novalidate>
      <div class="popmsz" id="popmsz"></div>
      <div class="min-user-info">
        <div class="user-input-box">
          <label for="mobile">Enter Mobile Number</label>
          <input type="text" id="mobile" name="mobile" ngModel required />
        </div>
      </div>

      <div class="form-submit-btn">
        <input type="submit" value="Get OTP" [disabled]="!mobForm.valid" />
      </div>
    </form>
  </div>
</div>
