<div class="main-c">
  <div class="container">
    <h1 class="form-title">Welcome To AniSoul</h1>

    <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
      <div class="popmsz" id="popmsz"></div>
      <div class="min-user-info">
        <div class="user-input-box">
          <label for="UserName">UserName</label>
          <input type="text" id="UserName" name="UserName" ngModel required />
        </div>

        <div class="user-input-box">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            ngModel
            required
          />
        </div>
      </div>

      <div class="form-submit-btn">
        <input type="submit" value="Log In" [disabled]="!loginForm.valid" />
        <input type="submit" value="Register" routerLink="register" />
      </div>
      <div class="sub-btn">
        <input
          type="submit"
          (click)="googleLogin()"
          value="Login With GOOGLE"
        />
        <input type="submit" value="Forgot Password" routerLink="forgotpassword" />
      </div>
    </form>
  </div>
</div>
