<div class="main-c">
  <div class="container">
    <h1 class="form-title">Reset Password</h1>

    <form #otpForm="ngForm" (ngSubmit)="confirmpass(otpForm.value)" novalidat>
      <div class="popmsz" id="popmsz"></div>
      <div class="min-user-info">
        <div class="user-input-box">
          <label for="otp">Enter OTP</label>
          <input type="text" id="otp" name="otp" ngModel required />
        </div>
      </div>

      <div class="form-submit-btn">
        <input type="submit" value="Submit OTP" [disabled]="!otpForm.valid" />
      </div>
    </form>
  </div>
</div>
