<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=DynaPuff&family=Permanent+Marker&family=Rubik+Dirt&family=Sedgwick+Ave+Display&family=Unbounded:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Ubuntu:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <nav>
      <div class="navb">
        <div class="logo">
          <img src="/assets/images/AnimeSprint.png" alt="" />
          <div class="join">
            <span>AniSoul</span>
            <button>Welcome Admin</button>
          </div>
        </div>
        <div class="func">
          <button (click)="getAllUsers()">GetUsers</button>
          <button (click)="getAllAnime()">GetLatestAnime</button>
          <button (click)="showAnimeForm()">AddLatestAnime</button>
          <button (click)="showEpiForm()">AddLatestEpisode</button>
          <button (click)="showEpi()">GetAllEpisode</button>
          <div class="subfunc"><button (click)="logout()">LogOut</button></div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="modal" tabindex="-1" id="animeModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Anime</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                (click)="closeModal()"
              >
                &times;
              </button>
            </div>
            <div class="modal-body">
              <div class="eMsz" id="eMsz"></div>
              <form class="aniForm">
                <input
                  id="input"
                  name="id"
                  type="number"
                  [(ngModel)]="animeObj.animeId"
                  disabled
                />
                <input
                  id="input"
                  name="title"
                  type="text"
                  [(ngModel)]="animeObj.animeTitle"
                />
                <input
                  id="input"
                  name="desc"
                  type="text"
                  [(ngModel)]="animeObj.animeDesc"
                />
                <input
                  id="input"
                  name="link"
                  type="text"
                  [(ngModel)]="animeObj.animeImage"
                />
                <input
                  id="input"
                  name="section"
                  type="text"
                  [(ngModel)]="animeObj.animeSection"
                />
                <input
                  id="input"
                  name="genre"
                  type="text"
                  [(ngModel)]="animeObj.genre"
                />
                <input
                  class="btn"
                  type="submit"
                  value="Save Changes"
                  (click)="editAnime()"
                  (click)="closeModal()"
                />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="containerSub">
      <div class="modal" tabindex="-1" id="episodeModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Episode</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                (click)="closeEpiModal()"
              >
                &times;
              </button>
            </div>
            <div class="modal-body">
              <div class="epiMsz" id="epiMsz"></div>
              <form class="aniForm">
                <input
                  id="input"
                  name="epiId"
                  type="number"
                  [(ngModel)]="episodeObj.episodeId"
                  disabled
                />
                <input
                  id="input"
                  name="epiNumber"
                  type="text"
                  [(ngModel)]="episodeObj.episodeNo"
                />
                <input
                  id="input"
                  name="epiLink"
                  type="text"
                  [(ngModel)]="episodeObj.episodeLink"
                />
                <input
                  id="input"
                  name="epiType"
                  type="text"
                  [(ngModel)]="episodeObj.type"
                />
                <input
                  id="input"
                  name="animeId"
                  type="text"
                  [(ngModel)]="episodeObj.anime.animeId"
                />
                <input
                  class="btn"
                  type="submit"
                  value="Save Changes"
                  (click)="editEpisode()"
                  (click)="closeEpiModal()"
                />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container1" *ngIf="isUsers">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">UserId</th>
            <th scope="col">UserName</th>
            <th scope="col">FullName</th>
            <th scope="col">Email-Id</th>
            <th scope="col">PhoneNumber</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of users">
          <tr>
            <td>{{ user.userId }}</td>
            <td>{{ user.userName }}</td>
            <td>{{ user.fullName }}</td>
            <td>{{ user.emailId }}</td>
            <td>{{ user.phoneNo }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="container2" *ngIf="isAnime">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">AnimeId</th>
            <th scope="col">AnimeTitle</th>
            <th scope="col">AnimeDesc</th>
            <th scope="col">IamgeLink</th>
            <th scope="col">Section</th>
            <th scope="col">Genre</th>
            <th scope="col" colspan="2">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let ani of anime">
          <tr>
            <td>{{ ani.animeId }}</td>
            <td>{{ ani.animeTitle }}</td>
            <td>{{ ani.animeDesc }}</td>
            <td>{{ ani.animeImage }}</td>
            <td>{{ ani.animeSection }}</td>
            <td>{{ ani.genre }}</td>
            <td>
              <img
                src="/assets/images/icons8-pencil (1).gif"
                alt=""
                srcset=""
                (click)="showModal(ani)"
              />
            </td>
            <td>
              <img
                src="/assets/images/icons8-delete.gif"
                alt=""
                srcset=""
                (click)="delete(ani.animeId)"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container3" *ngIf="isAddAnime">
      <form
        #addAnimeForm="ngForm"
        (ngSubmit)="addAnime(addAnimeForm.value)"
        class="aniForm"
      >
        <div class="msz" id="msz"></div>
        <input
          id="input"
          name="id"
          type="number"
          placeholder="Enter Anime Id"
          ngModel
        />
        <input
          id="input"
          name="title"
          type="text"
          placeholder="Enter Anime Title"
          ngModel
        />
        <input
          id="input"
          name="desc"
          type="text"
          placeholder="Enter Anime Desc"
          ngModel
        />
        <input
          id="input"
          name="link"
          type="text"
          placeholder="Enter Anime Image Link"
          ngModel
        />
        <input
          id="input"
          name="section"
          type="text"
          placeholder="Enter Anime Section"
          ngModel
        />
        <input
          id="input"
          name="genre"
          type="text"
          placeholder="Enter Anime Genre"
          ngModel
        />
        <input class="btn" type="submit" value="Add" />
      </form>
    </div>
    <div class="container4" *ngIf="isAddEpi">
      <div class="mszEpi" id="mszEpi"></div>
      <form
        #addEpisodeFrom="ngForm"
        (ngSubmit)="addEpisode(addEpisodeFrom.value)"
        class="aniForm"
      >
        <input
          name="number"
          type="text"
          placeholder="Enter Anime Episode Number"
          ngModel
        />
        <input
          name="link"
          type="text"
          placeholder="Enter Anime Episode Link"
          ngModel
        />
        <input
          name="type"
          type="text"
          placeholder="Enter Anime Episode Type"
          ngModel
        />
        <input name="aId" type="text" placeholder="Enter Anime Id" ngModel />
        <input class="btn" type="submit" value="Add" />
      </form>
    </div>

    <div class="container5" *ngIf="isEpi">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">EpisodeId</th>
            <th scope="col">EpisodeNumber</th>
            <th scope="col">EpisodeLink</th>
            <th scope="col">EpisodeType</th>
            <th scope="col">AnimeId</th>
            <th scope="col" colspan="2">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let epi of episode">
          <tr>
            <td>{{ epi.episodeId }}</td>
            <td>{{ epi.episodeNo }}</td>
            <td>{{ epi.episodeLink }}</td>
            <td>{{ epi.type }}</td>
            <td>{{ epi.anime.animeId }}</td>
            <td>
              <img
                src="/assets/images/icons8-pencil (1).gif"
                alt=""
                srcset=""
                (click)="showModalEp(epi)"
              />
            </td>
            <td>
              <img
                src="/assets/images/icons8-delete.gif"
                alt=""
                srcset=""
                (click)="deleteEpi(epi.episodeId)"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
