* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: black;
  height: auto;
  min-height: 700px;
  margin: 0%;
  font-size: 17px;
}

.navb {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: aqua;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: row;
}

.logo img {
  height: 80px;
  width: 80px;
  border-radius: 60px;
  padding: 5px;
  margin-left: 5px;
  border-bottom: 2px solid #d875ff;
  border-top: 2px solid #d875ff;
}

.join {
  font-size: 30px;
  margin-top: 20px;
  font-family: "Sedgwick Ave Display", cursive;
  color: #d875ff;
}

.join button {
  font-family: "Ubuntu", sans-serif;
  padding: 10px 10px;
  font-size: 25px;
  border-radius: 15px;
  background-color: black;
  color: #d875ff;
  border: 1px solid #d875ff;
  margin-top: -12px;
  margin-left: 15px;
  cursor: auto;
}

.func button {
  font-family: "Ubuntu", sans-serif;
  padding: 10px 10px;
  font-size: 12px;
  margin: 10px 10px;
  border-radius: 15px;
  background-color: black;
  color: #d875ff;
  border: 2px solid #d875ff;
  margin-top: 20px;
}

.container1 {
  padding: 20px;
  margin: 20px;
}

.container2 {
  padding: 20px;
  margin: 20px;
}

.container3 {
  padding: 20px;
  margin: 20px;
}

.container4 {
  padding: 20px;
  margin: 20px;
}

.container5 {
  padding: 20px;
  margin: 20px;
}

.aniForm {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.aniForm input {
  padding: 10px;
  min-width: 150px;
  margin: 7px;
  border-radius: 15px;
  text-align: center;
  font-weight: bolder;
}

.btn {
  font-family: "Ubuntu", sans-serif;
  padding: 10px 10px;
  font-size: 20px;
  margin: 15px 10px;
  border-radius: 15px;
  background-color: black;
  color: #d875ff;
  border: 2px solid #d875ff;
  margin-top: 20px;
}

.btn:hover {
  background-color: black;
  color: #d875ff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d875ff,
    0 0 0.8rem #d875ff, 0 0 2.8rem #d875ff, inset 0 0 1.3rem #d875ff;
}

.func button:hover {
  background-color: black;
  color: #d875ff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d875ff,
    0 0 0.8rem #d875ff, 0 0 2.8rem #d875ff, inset 0 0 1.3rem #d875ff;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #d875ff, 0 0 11px #d875ff, 0 0 19px #d875ff,
      0 0 40px #cbc3e3, 0 0 80px #cbc3e3, 0 0 90px #cbc3e3, 0 0 100px #cbc3e3,
      0 0 150px #cbc3e3;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.func {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.table img {
  border-radius: 10px;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.modal-content {
  background-color: black;
  color: white;
}

.btn-close {
  border: none;
  background-color: black;
  font-size: larger;
  margin-left: auto;
  padding: 10px;
}

.modal-title {
  font-size: 20px;
}

.msz {
  color: white;
  text-align: center;
  padding: 10px;
}

.eMsz {
  color: white;
  text-align: center;
  padding: 10px;
}

.epiMsz {
  color: white;
  text-align: center;
  padding: 10px;
}

.mszEpi {
  color: white;
  text-align: center;
  padding: 10px;
}

#input {
  color: black;
}

.subfunc button {
  background-color: #d875ff;
  color: black;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 20px;
}
