* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-c {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url("https://c4.wallpaperflare.com/wallpaper/308/102/422/jujutsu-kaisen-kento-nanami-satoru-gojo-anime-boys-hd-wallpaper-preview.jpg");
  background-size: cover;
  border-radius: 20px;
}

.container {
  width: 100%;
  max-width: 650px;
  background: rgba(0, 0, 0, 0.5);
  padding: 28px;
  margin: 0 28px;
  border-radius: 10px;
  box-shadow: inset -2px 2px 2px white;
}

.form-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  color: #d875ff;
  text-shadow: 2px 2px 2px black;
  border-bottom: solid 1px white;
}

.min-user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.user-input-box:nth-child(2n) {
  justify-content: end;
}

.user-input-box {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}

.user-input-box label {
  width: 95%;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.user-input-box input {
  height: 40px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

.form-submit-btn {
  margin-top: 40px;
}

.form-submit-btn input {
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: #d875ff;
  background: rgba(18, 29, 21, 0.7);
  cursor: pointer;
}

.form-submit-btn :hover {
  background: #d875ff;
  color: white;
}

@media (max-width: 600px) {
  .container {
    min-width: 280px;
  }
  .user-input-box {
    margin-bottom: 12px;
    width: 100%;
  }
  .user-input-box:nth-child(2n) {
    justify-content: space-between;
  }
  .gender-category {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .min-user-info {
    max-height: 380px;
    overflow: auto;
  }
  .min-user-info::-webkit-scrollbar {
    width: 0;
  }
}

.popmsz {
  color: white;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  text-decoration: underline;
}

.errmsz h3{
  color: white;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.load {
  position: relative;
  height: 20px;
  object-fit: contain;
  z-index: 1;
  top: -100px;
  text-align: center;
  padding: 10px 10px;
}
