* {
  padding: 0%;
  margin: 0%;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #d875ff;
}

.trending {
  width: 160px;
  padding: 2px;
  border-radius: 10px;
  border-bottom: 2px solid #d875ff;
  text-align: center;
}

.trending_Component {
  background-color: black;
  padding: 15px 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.grid-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  background-color: black;
}

.grid-item {
  padding: 20px;
  background-color: black;
  text-align: center;
  padding: 0%;
  margin: 0%;
}

.grid-item button {
  padding: 10px 10px;
  margin: 10px;
  background-color: black;
  color: #d875ff;
  border-radius: 15px;
  border: 2px solid #d875ff;
}

.grid-item button:hover {
  background-color: black;
  color: #d875ff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d875ff,
    0 0 0.8rem #d875ff, 0 0 2.8rem #d875ff, inset 0 0 1.3rem #d875ff;
}

.inner-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  background-color: black;
  border-left: 2px solid #d875ff;
}

.gen {
  border-right: 2px solid #d875ff;
  border-left: 2px solid #d875ff;
  padding: 20px 20px;
  border-radius: 20px;
}

.gen h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #d875ff;
  border-bottom: 2px solid #d875ff;
  width: 170px;
  text-align: center;
  border-radius: 15px;
  padding-bottom: 4px;
}

.inner-grid-item {
  background-color: #ddd;
  text-align: center;
  padding: 10px;
  background-color: black;
}

.inner-grid-item img {
  max-width: 150px;
  height: 230px;
  border-radius: 15px;
}

.inner-grid-item img:hover {
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d875ff,
    0 0 0.8rem #d875ff, 0 0 2.8rem #d875ff, inset 0 0 1.3rem #d875ff;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1256px) {
  .inner-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1056px) {
  .inner-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 844px) {
  .inner-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 424px) {
  .inner-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.overlay h1 {
  color: #d875ff;
  margin: 10px;
}

.overlay {
  overflow: hidden;
  height: 30px;
  width: 170px;
}
