<div class="trending_Component">
  <h1 class="trending">Trending Shows</h1>
</div>

<div class="grid-container">
  <div class="grid-item">
    <div class="inner-grid">
      <div class="inner-grid-item" *ngFor="let trend of trending">
        <img src="{{ trend.animeImage }}" (click)="sendCard(trend.animeId)" />
        <div class="overlay">
          <h1>{{ trend.animeTitle }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-item gen">
    <h1>Search by Genre</h1>
    <br />
    <button value="Action" (click)="getGenre('Action')">Action</button>
    <button value="Adventure" (click)="getGenre('Adventure')">Adventure</button>
    <button value="Sci-Fi" (click)="getGenre('Sci-Fi')">Sci-fi</button>
    <button value="Fantasy" (click)="getGenre('Fantasy')">Fantasy</button>
    <button value="Romance" (click)="getGenre('Romance')">Romance</button>
    <button value="Shounen" (click)="getGenre('Shounen')">Shounen</button>
    <button value="Drama" (click)="getGenre('Drama')">Drama</button>
    <button value="Sports" (click)="getGenre('Sports')">Sports</button>
    <button value="Thriller" (click)="getGenre('Thriller')">Thriller</button>
    <button value="Isekai" (click)="getGenre('Isekai')">Isekai</button>
    <button value="Comedy" (click)="getGenre('Comedy')">Comedy</button>
  </div>
</div>
