<head>
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Ubuntu:wght@500&display=swap"
    rel="stylesheet"
  />
</head>
<div class="carousel-container">
  <h3>Spotlight</h3>
  <div class="carousel-slide">
    <div *ngFor="let spot of spotlight">
      <img src="{{ spot.animeImage }}" alt="Image 1" />
      <div class="ctext">
        <h1>{{ spot.animeTitle }}</h1>
      </div>
    </div>
  </div>
</div>
