.carousel-container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: black;
  padding: 5px 20px;
  margin-top: -20px;
}

.carousel-slide {
  display: flex;
  width: 2000px; /* width of all images combined */
  animation: slide 90s linear infinite;
}

.carousel-slide img {
  width: 1000px;
  height: 400px;
  padding: 20px 50px;
  border-radius: 40px;
  border-left: 2px solid #9315c4;
  border-right: 2px solid #9315c4;
}

@keyframes slide {
  0% {
    transform: translateX(0pc);
  }
  50% {
    transform: translateX(-8650px);
  }
  100% {
    transform: translateX(0px);
  }
}

.ctext {
  position: relative;
  top: -20px;
  padding: 10px 10px;
  width: 90%;
  color: #d875ff;
  z-index: 1;
  text-align: center;
  margin: auto;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem;
  background-color: black;
  border-bottom: 2px solid #d875ff;
  padding: 10px 10px;
  border-radius: 30px;
  width: 150px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: #d875ff;
}

.ctext h1 {
  font-size: 1.3em;
  margin-bottom: 0;
  background-color: black;
  border-left: 2px solid #d875ff;
  border-right: 2px solid #d875ff;
  padding: 10px 10px;
  border-radius: 20px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}
