* {
  margin: 0%;
  padding: 0%;
}

.navb {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: aqua;
  width: 100%;
  padding: 10px;
  padding-bottom: 20px;
}

.logo {
  display: flex;
  flex-direction: row;
}

.logo img {
  height: 80px;
  width: 80px;
  border-radius: 60px;
  margin-left: 5px;
  border-bottom: 5px solid white;
  border-top: 5px solid white;
  background-color: #d875ff;
}

.logo img:hover {
  background-color: white;
  color: #d875ff;
  border-bottom: 5px solid #d875ff;
  border-top: 5px solid #d875ff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d875ff,
    0 0 0.8rem #d875ff, 0 0 2.8rem #d875ff, inset 0 0 1.3rem #d875ff;
}

.join {
  font-size: 30px;
  margin-top: 20px;
  font-family: "Sedgwick Ave Display", cursive;
  animation: flicker 1.5s infinite alternate;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.search {
  margin-top: 7px;
  margin-left: auto;
}

.search input {
  padding: 7px 7px;
  border-radius: 15px;
  border: 2px solid #d875ff;
  color: #d875ff;
  background: transparent;
  text-shadow: 0 0 7px #d875ff, 0 0 10px #d875ff, 0 0 21px #d875ff,
    0 0 42px #cbc3e3, 0 0 82px #cbc3e3, 0 0 92px #cbc3e3, 0 0 102px #cbc3e3,
    0 0 151px #cbc3e3;
}

.search button {
  font-family: "Ubuntu", sans-serif;
  padding: 10px 10px;
  margin: 10px 10px;
  border-radius: 15px;
  background-color: black;
  color: #d875ff;
  border: 2px solid #d875ff;
}

.search button:hover {
  background-color: black;
  color: #d875ff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d875ff,
    0 0 0.8rem #d875ff, 0 0 2.8rem #d875ff, inset 0 0 1.3rem #d875ff;
}

.search img {
  height: 50px;
  width: 50px;
  margin: 0px 15px;
  border-radius: 35px;
  background-color: #d875ff;
}

.search img:hover {
  background-color: white;
  color: #d875ff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d875ff,
    0 0 0.8rem #d875ff, 0 0 2.8rem #d875ff, inset 0 0 1.3rem #d875ff;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #d875ff, 0 0 11px #d875ff, 0 0 19px #d875ff,
      0 0 40px #cbc3e3, 0 0 80px #cbc3e3, 0 0 90px #cbc3e3, 0 0 100px #cbc3e3,
      0 0 150px #cbc3e3;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

body {
  background-color: black;
  height: auto;
  min-height: 1000px;
}

.box {
  /* background-color: black; */
  width: 100%;
  height: auto;
}

.box1 {
  display: flex;
  height: 220px;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box1 h1 {
  color: white;
  position: absolute;
  font-family: "Sedgwick Ave Display", cursive;
}

.box1 img {
  width: 100%;
}

.box2 {
  width: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
}

.box2 button {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  padding: 10px 10px;
  margin: 10px 10px;
  border-radius: 15px;
  background-color: black;
  color: #d875ff;
  border: 2px solid #d875ff;
}

.box2 button:hover {
  background-color: black;
  color: #d875ff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d875ff,
    0 0 0.8rem #d875ff, 0 0 2.8rem #d875ff, inset 0 0 1.3rem #d875ff;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #131212;
  color: white;
  background-color: black;
  margin: auto;
  margin-left: -20%;
}
.profile_info{
  padding: auto;
}

.profile h1 {
  font-family: "proximaNova", cursive;
  text-align: center;
  color: #d875ff;
  margin: 40px;
}

.tab label {
  margin: 20px;
  font-size: 20px;
  font-family: "proximaNova", cursive;
}

.tab input {
  margin: 20px;
  height: 40px;
  color: black;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #d875ff;
}

.tab {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.profile button {
  font-family: "Ubuntu", sans-serif;
  width: 40%;
  padding: 10px 10px;
  margin: 15px 0px 0px 160px;
  border-radius: 15px;
  background-color: black;
  color: #d875ff;
  border: 2px solid #d875ff;
}

.profile button:focus {
  background-color: black;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d875ff,
    0 0 0.8rem #d875ff, 0 0 2.8rem #d875ff, inset 0 0 1.3rem #d875ff;
}

.card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin: 30px;
  box-shadow: 0 10px 50px rgb(229, 79, 252);
}

.overlay h1 {
  color: #d875ff;
  margin: 10px;
  font-size: small;
  width: 150px;
  overflow: hidden;
}

.overlay button {
  background-color: #d875ff;
  color: black;
  padding: 10px 15px;
  border-radius: 15px;
  font-weight: bold;
  border: 2px solid black;
}

.overlay button:hover {
  background-color: #d8acea;
}

.overlay {
  overflow: hidden;
  width: 170px;
}

.inner-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.inner-grid-item img {
  max-width: 150px;
  height: 230px;
  border-radius: 15px;
}

.inner-grid-item {
  background-color: #ddd;
  text-align: center;
  padding: 10px;
  background-color: black;
}

.msz {
  color: #d875ff;
}

.watchh1 h1 {
  color: #d875ff;
  padding: 20px;
  font-family: "Ubuntu", sans-serif;
}

.watchh1 {
  align-items: center;
  text-align: center;
  justify-content: center;
}

#profile-btn:focus {
  background-color: black;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d875ff,
    0 0 0.8rem #d875ff, 0 0 2.8rem #d875ff, inset 0 0 1.3rem #d875ff;
}

#watchList-btn:focus {
  background-color: black;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d875ff,
    0 0 0.8rem #d875ff, 0 0 2.8rem #d875ff, inset 0 0 1.3rem #d875ff;
}

#favourite-btn:focus {
  background-color: black;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d875ff,
    0 0 0.8rem #d875ff, 0 0 2.8rem #d875ff, inset 0 0 1.3rem #d875ff;
}