<head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
    crossorigin="anonymous"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=DynaPuff&family=Permanent+Marker&family=Rubik+Dirt&family=Sedgwick+Ave+Display&family=Unbounded:wght@300&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Ubuntu:wght@500&display=swap"
    rel="stylesheet"
  />
</head>

<body>
  <nav>
    <div class="navb">
      <div class="logo">
        <img
          src="/assets/images/AnimeSprint_adobe_express.svg"
          alt=""
          (click)="homepage()"
        />
        <div class="join">
          <span> AniSoul</span>
        </div>
      </div>

      <div class="search">
        <input type="text" />
        <button>Search</button>
        <button (click)="logout()">LogOut</button>
      </div>
    </div>
  </nav>
  <div class="box">
    <div class="box1">
      <h1>HI,{{ profile.fullName }}</h1>
      <img src="/assets/images/itachi.jpg" alt="" />
    </div>
    <div class="box2">
      <button
        id="profile-btn"
        (click)="ProfileStatus = !ProfileStatus"
        (click)="watchListStatus = false"
        (click)="favouriteStatus = false"
      >
        Profiles
      </button>
      <button
        id="watchList-btn"
        (click)="watchListStatus = !watchListStatus"
        (click)="ProfileStatus = false"
        (click)="favouriteStatus = false"
      >
        Watchlist
      </button>
      <button
        id="favourite-btn"
        (click)="favouriteStatus = !favouriteStatus"
        (click)="ProfileStatus = false"
        (click)="watchListStatus = false"
      >
        Favourite
      </button>
    </div>
  </div>

  <div *ngIf="ProfileStatus" class="profile">
    <div>
      <img
        *ngIf="profile.phoneNo !== 'Null'"
        src="https://lh3.googleusercontent.com/oUUiPB9sq3ACq4bUaRmo8pgvC4FUpRRrQKcGIBSOsafawZfRpF1vruFeYt6uCfL6wGDQyvOi6Ez9Bpf1Fb7APKjIyVsft7FLGR6QqdRFTiceNQBm1In9aZyrXp33cZi9pUNqjHASdA=s170-no"
        alt="Person"
        class="card__image"
      />
    </div>
    <div>
      <img
        *ngIf="profile.phoneNo == 'Null'"
        src="{{ profile.image }}"
        alt="Person"
        class="card__image"
      />
    </div>
    <div class="profile_info">
      <h1>Profile</h1>
      <div class="tab">
        <div class="label1"><label>Email Id </label></div>
        <div class="input">
          <input type="email" name="email" [(ngModel)]="profile.emailId" />
        </div>
      </div>
      <br />

      <div class="tab"  *ngIf="profile.phoneNo != 'Null'">
        <div class="label1"><label> Mobile No</label></div>
        <div class="input">
          <input type="text" name="number" [(ngModel)]="profile.phoneNo" />
        </div>
      </div>
      <br *ngIf="profile.phoneNo != 'Null'"/>

      <div class="tab">
        <div class="label1"><label>User Name</label></div>
        <div class="input">
          <input type="text" name="username" [(ngModel)]="profile.userName" />
        </div>
      </div>
      <br />

      <div class="tab">
        <div class="label1"><label> Full Name</label></div>
        <div class="input">
          <input type="text" name="Fullname" [(ngModel)]="profile.fullName" />
        </div>
      </div>
      <br />

      <button
        *ngIf="profile.phoneNo !== 'Null'"
        class="update-btn"
        (click)="updateProfile()"
      >
        UPDATE PROFILE
      </button>
    </div>
  </div>

  <div *ngIf="watchListStatus">
    <div class="watchh1"><h1>Watchlisted Anime</h1></div>
    <div class="inner-grid">
      <div class="inner-grid-item" *ngFor="let watch of watchList">
        <img src="{{ watch.animeImage }}" (click)="sendCard(watch.animeId)" />
        <div class="overlay">
          <h1>{{ watch.animeTitle }}</h1>
          <button (click)="deleteCard(watch.watchId)">Remove</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="favouriteStatus">
    <div class="watchh1"><h1>Favorite Anime</h1></div>
    <div class="inner-grid">
      <div class="inner-grid-item" *ngFor="let fav of favList">
        <img src="{{ fav.animeImage }}" (click)="sendCard(fav.animeId)" />
        <div class="overlay">
          <h1>{{ fav.animeTitle }}</h1>
          <button (click)="deleteFavCard(fav.favoriteId)">Remove</button>
        </div>
      </div>
    </div>
  </div>

  <div></div>
</body>
<app-footer></app-footer>