<div class="main-c">
  <div class="container">
    <h1 class="form-title">Choose One</h1>

    <form>
      <div class="form-submit-btn">
        <input
          type="submit"
          (click)="email()"
          value="Send OTP by Phone Number"
        />
        <input type="submit" (click)="number()" value="Send OTP by e-mail" />
      </div>
    </form>
  </div>
</div>
