<app-navbar></app-navbar>
<div class="container">
  <div class="sub1">
    <h1>Results</h1>
  </div>
  <div class="sub2">
    <div class="inner-grid-item" *ngFor="let item of result">
      <img src="{{ item.animeImage }}" (click)="sendCard(item.animeId)" />
      <div class="msz"></div>
      <div class="overlay">
        <h1>{{ item.animeTitle }}</h1>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
