<!DOCTYPE html>
<html>
  <head>
    <title>Two Column Grid</title>
  </head>

  <body>
    <app-navbar></app-navbar>

    <div class="container">
      <div class="left-column">
        <div>
          <div class="flexview">
            <img src="{{ card.animeImage }}" alt="" />

            <div class="subcont">
              <div class="btnview">
                <h1>{{ card.animeTitle }}</h1>
                <div class="btns">
                  <button>PG-13</button>
                  <button>HD</button>
                  <button>SUB</button>
                  <button>DUB</button>
                </div>
                <button id="adl" (click)="addList()">Add to List</button>
                <button id="adl" (click)="addFav()">Add to Fav</button>
                <div id="msz"></div>
              </div>
            </div>
            
          </div>
          <div class="cont1">
            <p>{{ card.animeDesc }}</p>
          </div>
        </div>
      </div>
      <div class="right-column">
        <h1>Episodes</h1>
        <div class="rightSub">
          <div *ngFor="let ep of episode">
            <div class="r21">
              <p>Episode {{ ep.episodeNo }}</p>
              <button (click)="passlink(ep.episodeLink)">Play</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </body>
</html>
