* {
  padding: 0%;
  margin: 0%;
}

body {
  padding: 0%;
  margin: 0%;
  background-color: black;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  width: 100%;
}

.right-column {
  margin-left: auto;
  background-color: #d875ff;
  width: 20%;
}

.left-column {
  margin-right: auto;
  width: 80%;
}

.rightSub {
  overflow-y: scroll;
}

@media only screen and (max-width: 1058px) {
  .container {
    flex-direction: column;
  }
  .right-column {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .left-column {
    width: 100%;
    background-color: black;
    color: #d875ff;
  }
}

.btnview h1 {
  color: #d875ff;
  font-family: "Sedgwick Ave Display", cursive;
}

.cont1 p {
  color: #d875ff;
  font-size: 25px;
  padding: 20px;
  font-family: "Ubuntu", sans-serif;
}

.flexview {
  display: flex;
  flex-direction: row;
}

.flexview img {
  padding: 10px 5px;
  height: 250px;
  width: 170px;
  border-radius: 15px;
}

.cont1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px 10px;
}

.btnview {
  text-align: center;
}

.subcont {
  margin: auto;
}

.btnview h1 {
  font-size: 40px;
}

.btns button {
  background-color: #d875ff;
  color: black;
  border: 3px solid white;
  padding: 7px;
  margin: 10px;
  border-radius: 20px;
}

#adl {
  background-color: black;
  color: #d875ff;
  border: 3px solid white;
  padding: 7px 20px;
  margin: 20px 15px;
  border-radius: 40px;
  font-size: 25px;
}

.r21 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.right-column h1 {
  padding: 20px;
  font-size: 40px;
  font-family: "Ubuntu", sans-serif;
}

.r21 button {
  background-color: black;
  color: #d875ff;
  border: 3px solid white;
  padding: 7px 20px;
  border-radius: 15px;
}

.r21 p {
  padding: 6px 20px;
  font-weight: bolder;
  font-family: "Ubuntu", sans-serif;
}

.r21 button:hover {
  cursor: pointer;
  padding: 7px 25px;
}

#adl:hover {
  background-color: black;
  color: #d875ff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d875ff,
    0 0 0.8rem #d875ff, 0 0 2.8rem #d875ff, inset 0 0 1.3rem #d875ff;
}

#msz {
  color: #d875ff;
}
