<div class="main-c">
  <div class="container">
    <h1 class="form-title">Welcome To AniSoul</h1>

    <form #regForm="ngForm" (ngSubmit)="userReg(regForm.value)" novalidate>
      <div class="msz" id="msz"></div>
      <div class="load" *ngIf="flag">
        <img src="/assets/images/Dual Ball-1s-200px.svg" alt="" />
      </div>
      <div class="min-user-info">
        <div class="user-input-box">
          <label for="fullName">Full Name</label>
          <input
            type="text"
            id="fullName"
            name="fullName"
            placeholder="Enter Full Name"
            #fName="ngModel"
            ngModel
            required
            minlength="2"
            maxlength="30"
          />
          <div class="errmsz">
            <div *ngIf="fName.errors?.['required'] && fName.touched">
              <h3>Please Enter Your Name</h3>
            </div>
            <div *ngIf="fName.errors?.['minlength'] && fName.touched">
              <h3>Please Enter Atleast 2 Characters for Name</h3>
            </div>
          </div>
        </div>
        <div class="user-input-box">
          <label for="username">User Name</label>
          <input
            type="text"
            id="username"
            name="userName"
            placeholder="Enter UserName"
            #uName="ngModel"
            ngModel
            required
            minlength="2"
            maxlength="25"
          />
          <div class="errmsz">
            <div *ngIf="uName.errors?.['required'] && uName.touched">
              <h3>Please Enter UserName</h3>
            </div>
            <div *ngIf="uName.errors?.['minlength'] && uName.touched">
              <h3>Please Enter Atleast 2 Characters for UserName</h3>
            </div>
          </div>
        </div>
        <div class="user-input-box">
          <label for="EmailId">Email-Id</label>
          <input
            type="email"
            id="EmailId"
            name="emailId"
            placeholder="Enter Email-Id"
            #eId="ngModel"
            ngModel
            required
            minlength="6"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          />
          <div class="errmsz">
            <div *ngIf="eId.errors?.['required'] && eId.touched">
              <h3>Please Enter Email Id</h3>
            </div>
            <div *ngIf="eId.errors?.['minlength'] && eId.touched">
              <h3>Please Enter Correct id</h3>
            </div>
            <div *ngIf="eId.errors?.['pattern'] && eId.touched">
              <h3>Please enter a valid email address</h3>
            </div>
          </div>
        </div>
        <div class="user-input-box">
          <label for="phoneNumber">Phone Number</label>
          <input
            type="text"
            id="phoneNumber"
            name="phoneNo"
            placeholder="Enter Phone Number"
            #pNumer="ngModel"
            ngModel
            required
            minlength="10"
            maxlength="13"
            pattern="^((\+91)?|0)?[6789]\d{9}$"
          />
          <div class="errmsz">
            <div *ngIf="pNumer.invalid && pNumer.touched">
              <h3>Please enter a valid PhoneNumber in the format of xxxxxxxxxx,
                +91xxxxxxxxxx.</h3>
            </div>
          </div>
        </div>

        <div class="user-input-box">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter Password"
            #password="ngModel"
            ngModel
            required
            minlength="8"
          />
          <div class="errmsz">
            <div *ngIf="password.errors?.['required'] && password.touched">
              <h3>Please Enter Password</h3>
            </div>
            <div *ngIf="password.errors?.['minlength'] && password.touched">
              <h3>Please Enter Atleast 8 Characters for Password</h3>
            </div>
          </div>
        </div>
        <div class="user-input-box">
          <label for="confirmpassword"> Confirm Password</label>
          <input
            type="password"
            id="confirmpassword"
            name="confirmpassword"
            placeholder=" Confirm Password"
            #cpassword="ngModel"
            ngModel
            required
          />
          <div class="errmsz">
            <div *ngIf="cpassword.errors?.['required'] && cpassword.touched">
              <h3>Please Re-Enter Password</h3>
            </div>
            <div
              *ngIf="
                regForm.value.password !== regForm.value.confirmpassword &&
                cpassword.touched
              "
            >
              <h3>Please Enter The Same Password As Before</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="gender-detail-box">
        <span class="gender-title">Gender</span>
        <div class="gender-category" ngModel>
          <input type="radio" name="gender" id="male" />
          <label for="male" id="g1">Male</label>
          <input type="radio" name="gender" id="female" />
          <label for="female" id="g1">FeMale</label>
          <input type="radio" name="gender" id="other" />
          <label for="other" id="g1">Other</label>
        </div>
      </div>
      <div class="form-submit-btn">
        <input
          type="submit"
          (click)="flag = true"
          value="Register"
          [disabled]="!regForm.valid"
        />
      </div>
    </form>
  </div>
</div>
